body {
    font-family: sans-serif;
    padding: 2rem;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

pre {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
}

 pass {
    color: green;
}

.fail {
    color: red;
}